fastapi
uvicorn[standard]
gunicorn
python-multipart
python-dotenv
requests
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
openai
pillow
supabase
#paddleocr==2.7.0.3
#paddlepaddle==2.6.2
#opencv-python-headless